@import "_variables.scss";
@import "_mixins.scss";

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: darken($dark-gray, 10%);
}

body {
  margin: 0;
  background: $background-color;
}

header {
  @include flex($direction: column);
  background: $white;
  margin: 40px 100px 40px 100px;
}

main {
  @include flex($direction: column);
  background: $white;
  margin: 40px 100px 40px 100px;
  padding: 30px 25px;
  min-height: 500px;
  @include shadow();
}

.btn {
  background: none;
  min-height: 35px;
  min-width: 100px;
  border-radius: 5px;
  cursor: pointer;

  &__icon {
    margin: 10px;
    font-size: 1.5rem;
    color: $light-gray;
  }

  &__text {
    margin: 10px;
    font-weight: 500;
  }

  &.btn--mode--full {
    font-weight: 700;
    background: $light-blue;
    border: 1px solid $light-blue;
    color: $white;

    &:hover {
      background: $dark-blue;
      border: 1px solid $dark-blue;
    }
  }

  &.btn--mode--info {
    font-weight: 700;
    color: $light-blue;
    border: 1px solid $light-blue;
    max-height: 35px;
    margin-left: 20px;

    &-logout {
      align-self: end;
      margin-top: 30px;
      margin-right: 25px;
    }

    &:hover {
      color: $dark-blue;
      border: 1px solid $dark-blue;
    }
  }

  &.btn--mode--default {
    @include flex($direction: row, $justify: center, $align: center);
    align-self: center;
    height: 50px;
    color: $dark-gray;
    border: 1px solid lighten($light-gray, 5%);
    margin: 10px 0 10px -150px;

    &:hover {
      color: $dark-gray;
      border: 1px solid $light-gray;
    }
  }
}

.top {
  @include flex($direction: row);
}

.avatar {
  position: relative;
  top: 0;
  left: 0;

  &__img {
    position: absolute;
    bottom: -30px;
    left: 25px;
    background-image: url("./../img/profile_image.jpg");
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.content {
  @include flex($direction: column, $justify: space-between);
  width: 100%;
  margin: 0px 25px 0px 200px;
}

.details {
  font-size: 0.9rem;
  @include flex($direction: row, $justify: space-between, $align: flex-start);

  &__name {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.35rem;
    font-weight: 500;
  }

  &__subitems {
    @include flex($direction: column);

    &__item {
      @include flex($direction: row, $align: center);
      margin-top: 0;
      &__icon {
        color: $light-gray;
        margin-right: 10px;
        font-size: 1.1rem;
      }

      &__text {
        font-weight: 500;
      }
    }
  }

  &__status {
    @include flex($direction: row, $align: center);
    min-height: 30px;

    &__stars {
      margin-top: 0;

      &__item {
        margin: 0 1px;
        color: lighten($dark-gray, 5%);
        font-size: 1.15rem;
      }
    }

    &__reviews {
      margin: 0;

      &__number {
        margin: 0 15px 0 25px;
        font-size: 0.9rem;
      }

      &__text {
        font-size: 0.85rem;
      }
    }
  }
}

.menu {
  @include flex($direction: row, $justify: space-between);
  height: 50px;
  background: $white;
  @include shadow();

  &__container {
    height: 50px;
    margin-left: 200px;
    overflow: hidden;

    &__items {
      height: 80px;
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hide;
      -webkit-overflow-scrolling: touch;

      &__btn {
        display: inline-block;
        min-width: 30px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: transparent;
        cursor: pointer;
        text-transform: uppercase;

        &-active {
          height: 47px;
          line-height: 47px;
          border-bottom: 3px solid $light-blue;
        }
      }

      &__btn + &__btn {
        margin-left: 20px;
      }
    }
  }
}

.followers {
  @include flex($direction: row, $align: center);
  height: 100%;
  margin: 0 20px;

  &.followers--xs {
    display: none;
  }

  &.followers--md {
    display: inherit;
  }

  &__icon {
    font-size: 1.5rem;
    color: darken($light-gray, 10%);
    margin-right: 15px;
  }

  &__text {
    font-size: 0.85rem;
    font-weight: 300;
    white-space: nowrap;

    &__number {
      font-weight: 500;
      margin-right: 5px;
    }
  }
}

.page {
  transition: all 350ms ease-in-out;

  &__header {
    @include flex($direction: row, $justify: space-between);

    &__title {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 1.9rem;
      color: lighten($light-gray, 5%);
    }

    &__buttons__edit {
      @include flex($direction: row, $justify: center, $align: center);
      visibility: hidden;
      height: 30px;
      width: 30px;
      background: lighten($light-gray, 18%);
      cursor: pointer;
    }

    &__buttons__cancel,
    &__buttons__save {
      text-transform: uppercase;
      width: 60px;
    }
  }
}

.field {
  @include flex($direction: row, $align: center);
  height: 30px;
  min-width: 100px;
  margin: 2px;
  font-size: 0.9rem;

  &__icon__left {
    @include flex($direction: row, $justify: center, $align: center);
    height: 100%;
    padding-left: 5px;
    font-size: 0.8rem;
    background: lighten($light-gray, 20%);
  }

  &__icon__right {
    @include flex($direction: row, $justify: center, $align: center);
    height: 30px;
    width: 30px;
    background: lighten($light-gray, 15%);
    cursor: pointer;

    &:hover {
      background: $light-blue;
      color: $white;
    }
  }

  &__text {
    @include flex($align: center);
    height: 100%;
    padding-left: 5px;
    padding-right: 10px;
    background: lighten($light-gray, 20%);

    &--bold {
      font-weight: 500;
    }
  }
}

.popup {
  @include flex($direction: column);
  width: 260px;
  margin-top: 15%;
  margin-left: -30px;
  padding: 15px;
  background: $white;
  z-index: 1;
  @include shadow();

  &__buttons {
    @include flex($direction: row, $justify: space-between);
  }
}

.input {
  margin-bottom: 25px;
  width: 100%;

  &__label {
    display: block;
    position: relative;
    width: 100%;
    min-height: 35px;
    color: darken($light-gray, 10%);
    text-transform: uppercase;
  }

  &__placeholder {
    position: absolute;
    display: block;
    width: 100%;
    top: 23px;
    font-size: 1rem;
    font-weight: 500;
    cursor: text;
    z-index: 2;
    transition: top 350ms ease-in-out;
  }

  &__field {
    position: absolute;
    height: 28px;
    width: 100%;
    top: 15px;
    margin: 0;
    border: 0;
    border-bottom: 2px solid lighten($light-gray, 5%);
    font-size: 1rem;
    z-index: 1;
    transition: border-color 350ms ease-in-out;

    &:focus {
      border-bottom: 2px solid $light-blue;
    }
  }

  &__field:focus + &__placeholder,
  &__field:valid + &__placeholder {
    top: 0;
    cursor: inherit;
    font-size: 0.9rem;
  }
}

.hidden {
  display: none !important;
}

/**
 * @section Breakpoints
 */

@media only screen and (max-width: 780px) {
  header {
    background: $background-color;
    margin: 0;
  }

  main {
    margin: 40px 0;
  }

  .top {
    flex-direction: column;
  }

  .btn {
    &.btn--mode--info {
      &-logout {
        border: none;
        margin: 30px 25px;

        &:hover {
          border: none;
        }
      }
    }

    &.btn--mode--default {
      display: none;
    }
  }

  .avatar {
    @include flex($direction: row, $justify: center);

    &__img {
      position: relative;
      top: 0;
      left: 0;
    }
  }

  .content {
    margin: 0;
  }

  .details {
    display: flex;
    flex-direction: column;
    margin: 0px 25px 0px 25px;

    &__top {
      @include flex($direction: column);
      width: 100%;
    }

    &__name {
      margin: 15px;
      align-self: center;
    }

    &__subitems {
      @include flex($direction: column-reverse);

      &__item__text {
        font-size: 0.85rem;
        font-weight: 400;
      }
    }

    &__status {
      @include flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );

      &__stars {
        margin-bottom: 5px;

        &__item {
          font-size: 1.3rem;
          color: $light-blue;
        }
      }

      &__reviews__number {
        margin: 0 15px 0 5px;
        font-weight: 500;
      }

      &__reviews__text {
        font-size: 0.9rem;
      }
    }
  }

  .menu__container {
    margin-left: 0;

    &__items {
      margin: 0 20px;
    }
  }

  .followers {
    margin: 10px 0;

    &.followers--xs {
      display: inherit;
    }

    &.followers--md {
      display: none;
    }

    &__icon {
      font-size: 1.7rem;
      margin-right: 5px;
    }

    &__text {
      font-size: 0.9rem;
      font-weight: 400;
    }
  }

  .field {
    margin-top: 10px;
    font-size: 1.2rem;

    &__icon__left {
      background: none;
      margin-left: 5px;
      font-size: 1.2rem;
    }

    &__icon__right {
      display: none;
    }

    &__text {
      background: none;
    }
  }

  .page__header__buttons {
    display: flex;

    &__edit {
      visibility: visible;
    }
  }
}
